<h1>{{title}}</h1>
<p>Туристична компанія «TEST Tour» надає послуги приватним особам та корпоративним клієнтам по всій території України. Адреси офісів, телефони, схеми проїзду у Києві, Запоріжжі та інших містах Ви знайдете на цій сторінці. {{title}}</p>
<form method="POST">
    <fieldset>
        <legend>Зв'яжіться з нами</legend>
        Ваше ім'я:<input name="firstname" type="text" required="required" placeholder="Enter your first name">
        Місто:<input name="Town" type="text" required="required" placeholder="Enter your town">
        Телефон: <input name="telephone" type="number" required="required" placeholder="Enter your telephone">
        Email: <input name="Email" type="email" required="required" placeholder="Enter your email">
        Коментар:<input name="Comment" type="text" required="required" placeholder="Enter your comment" >
    </fieldset>
    <input type="submit" value="Send">
</form>