<header>
<h1>{{title}}</h1>
<p> {{title}}</p>
</header>
<main>
    <h2>Зелений туризм в Україні</h2>
<article>
<p>Зелений, або як його ще називають, екологічний туризм — це абсолютно особливий напрямок відпочинку для людей, </br>
перевантажених повсякденними проблемами, побутом і тяготами урбанізму. Цей вид відпочинку спрямований на усамітнення та спілкування з природою,</br>
проживання в сільському середовищі або інших екологічних територіях. Головна мета зеленого туризму полягає в тому, </br>
щоб абстрагуватися від шуму мегаполісу, зануритися у той світ, в якому жили наші предки.</p> 

<P>Тут варто розділити поняття зеленого туризму на два підвиди:
Активний відпочинок у вигляді походу в ліс або гори. </br>
Проживання у сільській місцевості, так званий сільський туризм.</P> 

<p>На сьогоднішній день похід у гори або проживання в наметі в лісовій гущавині є для людини справжнім подвигом, адже ми звикли до автоматичних систем, комп’ютерних технологій, транспорту і елементарних побутових умов, котрі забезпечують нам комфорт. 
Не багато хто готовий кинути все це і самостійно прожити якийсь час у горах або в лісі, і тим не менш, зелений туризм в Україні сьогодні набирає нові рівні популярності. Для цілей безпеки, підстрахування і складання грамотного маршруту наймаються організатори, що займаються подібним видом туризму. </p>
До них у замовника повинні бути певні вимоги:</br>
<ul>
    <li>організатор повинен запропонувати вам екологічний вид транспорту: велосипед, безмоторний човен, кінь і будь-який інший транспорт, що не завдає шкоди екосистемі;</li>
    <li>нічліжки повинні проводитися в підготовлених, заздалегідь визначених місцях, але ні в якому разі не в хаотичному порядку;</li>
    <li>організатор спільно з туристами повинен вирішувати питання по утилізації сміття;</li>
    <li>обговоріть з організатором або гідом майбутнє меню, в даному випадку зробити акцент потрібно на екологічно чистих продуктах.</li>
</ul>
</article>
<article>
<h2>Літні Карпати</h2>
<img src='http://loremflickr.com/400/400/mountain' alt=''/>
<p>Звичайно ж, зеленим туризмом краще всього займатися пізньою весною або в літній період, 
максимум — на початку осені, адже у холоди навіть тривалі прогулянки стають проблемою. </br>
На зимові Карпати існує величезний попит серед іншої категорії туристів, що віддають перевагу лижам і зимовим видам спорту, а ось в літній сезон карпатські схили якраз відкриті для екотуристів і любителів походів. </br>
Плюсами зеленого та сільського туризму тут є кришталево чисте повітря, мальовнича природа первозданна та смачна кухня, приготовлена виключно з натуральних продуктів. Ви можете купатися в гірських озерах і річках, випробувати свої сили в колективному плаванні на байдарках, зайнятися кінними, пішими чи велосипедними прогулянками, катанням на квадроциклі, 
а також сходити на екскурсію або в гори, саме цим і знаменитий відпочинок в Карпатах влітку.</p>
</article>
<article>
    <h2>Eco-Adventures in Canada</h2>
    <p>There’s a wild world out there—isn’t it time to see it up close? And why not see untamed lands while on an eco-adventure?</Br>
         Ecotourism isn’t just some buzzword or travel fad, it’s a way of life in Canada. With ecotourism, you:</Br>
<ul>
    <li>Visit natural sites</li>
    <li>Use renewable resources as you travel</li>
    <li>Promote local culture and support family-run businesses and tours</li>

</ul>
Get to know the country up close and personal.
</p>
</article>
<article>
    <h2>Seascape Kayak Tours, Inc.
Deer Island, New Brunswick</h2>
<img src='http://loremflickr.com/g/400/400/Brunswick' alt=''/>
    <p>Keep your eyes peeled for the diverse marine life of Deer Island as you kayak out on the open sea with the skilled instructors at Seascape Kayak Tours, Inc. </Br>
        Plus, you can feel good that the tour company is hyperaware of ecotourism practices. Owner Bruce Smith won the New Brunswick Department of Environment’s </Br>
        Lifetime Achievement Award in 2010 for environmental leadership, and the company was nominated for the Parks Canada Sustainable Tourism Award. Why all the praise?</Br>
              
        The company keeps groups small to minimize environmental impact; 
        they recycle, compost, and reuse anything they can; they assist in annual coastal cleanups; </Br>
        they encourage communications between travelers and native coastal locals; 
        purchase locally grown food; and use biodegradable cleaning products. </Br>
        It’s the perfect way to see the spectacular Bay of Fundy region with a clean conscience.</p>
</article>
<article>
    <h2>Yamnuska Mountain Adventures
Canmore, Alberta</h2>
<p>
    To paraphrase Drake, you started from the bottom now you’re here—at the summit of a frozen waterfall. </Br>
    Yamnuska Mountain Adventures is one of the oldest and most trusted mountaineering, ice climbing, backcountry skiing, and rock climbing companies in the country. </Br>
    The coaches are all certified by the Association of Canadian Mountain Guides and are eager to help you learn how to ice axe your way up a frozen wall, ski in open country, </Br>
    or use your hands and feet to propel you up a rocky bluff. Furthermore, Yamnuska Mountain Adventures follows the Leave No Trace policy and considers respecting the natural landscape a part of their core values. </Br>
    Bonus: After ice climbing, local culture awaits in Downtown Canmore, an ideal home base where you can dine, shop, and rest between outdoor adventures
</p>
</article>
</main>