<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>ECOTOURS</header>

    <nav><a href="/">Головна</a>
    <a href="/countries">Країни</a>
    <a href="/tours">Тури</a>
    <a href="/contakt">Контакти</a></nav>
    <section>{{{body}}}</section>
    <footer>&copy; Tataurov </footer>
    
  </body>
</html>
