<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <table >
        <caption>Тури, путівки, акції</caption>
        <tdead>
<tr>
    <th>Тур</th>
    <th>Кількість днів</th>
    <th>Ціна</th>
</tr>
</tdead>
<tbody>
<tr>
    <td>Яремче</td>
    <td>6 ночей</td>
    <td>2700 грн.</td>
</tr>
<tr>
    <td>Татарів</td>
    <td>6 ночей</td>
    <td>3500 грн.</td>
</tr>
<tr>
    <td>Славське</td>
    <td>6 ночей</td>
    <td>3540 грн.</td>
</tr>
<tr>
    <td>New Brunswick</td>
    <td>4 ночей</td>
    <td>3000 $.</td>
</tr>
<tr>
    <td>Yamnuska Mountain</td>
    <td>2 ночей</td>
    <td>1540 $.</td>
</tr>
<tfoot>

<tr>
<td>Updated September 29, 2016</td>
</tr>
</tfoot>
</tbody>
    </table>
</div>